
<link rel="stylesheet" href="../../public/styles/navStyle.css">
<section class="col-xs-1 col-sm-1 col-md-2" >
    <div style="margin: 10px 10px 10px 70px;">
        <a href="#">
            <img style="width: 70px;height: 70px;" src="../public/assets/tree.webp">
        </a>
    </div>  
    <ul  class="m-3">
        <li>
            <a href="#">
                <i class="fas fa-home"></i> Home
            </a>
            
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user-graduate"></i> Faculties
            </a>
            
        </li>
        <li>
            <a href="#">
                <i class="fas fa-users-cog"></i> Services
            </a>
           
        </li>
        <li>
            <a href="#">
                <i class="fas fa-bell"></i> Natifications
            </a>
            
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user-circle"></i> Profile
            </a>
            
        </li>
        <li>
            <a href="#">
                <i class="fab fa-google-drive"></i> My Drive
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fas fa-info-circle"></i> About Us
            </a>
            
        </li>
        <li>
            <a href="#">
                <i class="fas fa-phone-square-alt"></i> Conact Us
            </a>        
        </li>
        <li>
            <a id="logout">
                <i  class="fas fa-sign-out-alt"></i>  Logout
            </a>            
        </li>
    </ul>
    


</section>