#main{
 width: 500px;
 margin: auto;
 border-radius: 5px;
 box-shadow: 0 0 10px rgb(0,0,0,0.5);
 padding: 10px;
}
.content , .flip{
    width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);

}


.flip{
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    padding-left: 30px;
    padding-top: 2px;
    height: 30px;
    margin-top: 5px;
}

.content{
    padding: 10px;
    margin-top: 10px;
}
.flip i{
    float: right;
    padding: 5px;
    padding-right: 10px;
}

.flip i:first-child{
    display: none;
}
