.card-head{
    overflow: hidden;
}

.card-img-top{
    height: 300px;
    
    transition: 0.5s;
}
.card{
    position: relative;
    margin: 20px;
    transition: 0.5s;
}
.card p:first-child{
 position: absolute;
 background-color: #fdc632;
 color: #002347;
 width: 70px;
 height: 70px;
 padding-top: 12px;
 text-align: center;
 border-radius: 100%;
 font-size: 30px;
 font-family: 'Anton';
 top: 260px;
 right: 20px;
 z-index: 1;
 transition: 0.3s;
}
.card h4{
    color: #002347;
    transition: 0.3s;
}
.card:hover h4{
    color: #fdc632;
}
.card:hover .card-img-top{
    transform: scale(1.5);     
}

.card:hover p:first-child{
    background-color: #002347;
    color: #fdc632;
}
.card-body{
    padding-top: 50px;
}

.card a{
    border-radius:0px ;
    color: aliceblue;
    background: #002347;
}
.card a:hover{
 color: #fdc632;
}
.card:hover{
    -moz-box-shadow: 0 0 10px rgb(0,0,0,0.35);
    -webkit-box-shadow: 0 0 10px rgb(0,0,0,0.35);
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
}