.navbar-brand img{
    width: 220px;
    height: 42px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}


@keyframes navAnimation{
    from{
        opacity: 0;
        transform:translate3d(0,-100px,0) ;
        -webkit-transform:translate3d(0,-100px,0) ;
    }

    to{
        opacity: 1;
        transform:none;
        -webkit-transform:none;
    }
}
.sticky-top{
    transition: 0.5s;
    box-shadow: 0 10px 10px -10px rgb(0,0,0,0.35);
    animation-duration: 0.9s;
    animation-name: navAnimation;
    animation-fill-mode: both;
}


nav .container{
    font-family: 'Staatliches', cursive;
    text-align: center;
    padding: 0px;
    font-size: 20px;
    
    
}
#show-on-col{
    display:none;
}

nav .nav-it{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 7px;
    box-sizing: border-box;
}
nav .nav-it a{
    transition: 0.5s;
}

.navbar{
    padding: 0px;
    transition: 0.9s;
}



@media(max-width : 1162px){
    nav .container{
        font-size: 15px;
    }
    .navbar-brand img{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    nav .nav-it{
        margin-left: 0px;
        margin-right: 5px;
        box-sizing: border-box;
    }
}

@media(max-width : 1040px){
    .display-1{
        font-size: 60px;
    }
   }