
ul{
    font-size: 20px;
    list-style: none;
}
li i{
    
    font-size: 25px;
    width: 40px;
}
li {
    width: fit-content;
    margin-bottom: 20px;
}

li a{
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    transition: 0.4s;
    color: aliceblue;
    
}
li a:hover{
    
    background: rgb(24, 173, 24);
    
}

